<div class="row">
    <div class="col-xl-12 col-sm-12 mb-12">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Report Url</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="instance in instances">
                        <td>{{instance.Name}}</td>
                        <td>{{instance.Url}}</td>
                        <td>{{instance.NotificationUrl}}</td>
                        <td>
                            <a type="button" class="btn btn-success" href="#!/instances/detailed/{{instance.Id}}">View Backups</a>
                            <button type="button" class="btn btn-danger" ng-click="delete(instance)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</div>

<!--
future reference: https://stackoverflow.com/questions/29602222/create-a-simple-bootstrap-yes-no-confirmation-or-just-notification-alert-in-angu
-->
