<div ng-controller="InstanceDetailedController">
    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-12 col-sm-12 mb-3">
            <div class="card o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-check color-green" ng-show="instance.LatestReport.Success"></i>
                        <i class="fa fa-fw fa-exclamation-triangle color-green" ng-show="!instance.LatestReport.Success"></i>
                    </div>
                    <h4 class="mr-4">
                        <b>Instance:</b> {{instance.InstanceName}}
                    </h4>
                    <div class="col-xl-6 col-sm-6 ml-0">
                        <table class="table table-bordered" cellspacing="0">
                            <tbody>
                            <tr>
                                <td><b>Status</b></td>
                                <td>{{instance.LatestReport.Success ? "Success" : "Failed"}}</td>
                            </tr>
                            <tr>
                                <td><b>Latest backup date</b></td>
                                <td>{{instance.LatestReport.EndDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{{instance.Url}}" class="btn btn-info" target="_blank">Go to Duplicati instance</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-sm-12 mb-3">
            <h5>Backup growth rate</h5>
            <sup>Over the last 30 backups</sup>
            <canvas id="line" class="chart chart-line" chart-data="graph.data" chart-labels="graph.labels" height="60"
                    chart-click="graph.onClick" chart-hover="graph.onHover" chart-series="graph.series" chart-options="graph.options"
                    chart-dataset-override="graph.datasetOverride"></canvas>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-database"></i> Last 30 backups
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Status</th>
                        <th>Started</th>
                        <th>End</th>
                        <th>Duration</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="backup in instance.PreviousReports" ng-class="{ 'uh-oh' : !backup.Success}">
                        <td>
                            <i class="fa fa-fw fa-exclamation-triangle color-white" ng-show="!backup.Success"></i>
                            <i class="fa fa-fw fa-check color-green" ng-show="backup.Success"></i>
                        </td>
                        <td>{{backup.Success ? "Success" : "Failed"}}</td>
                        <td>{{backup.BeginDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{backup.EndDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{backup.Duration}}</td>
                        <td>
                            <a href="#!/instances/detailed/{{$routeParams.id}}/backup/{{backup.Id}}" class="btn btn-info">View</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>